*.sublime-workspace
*.swo
*.swp
*.un~
.DS_Store
.bundle
.powder
config/config.yml
config/database.yml
db/*.sqlite3
dump.rdb
log/*.db
log/*.log*
log/resque_worker.*
public/assets/
public/system/
public/uploads/
tmp/
design/


